body {
    background-color:#f40707;
}
h1 {
    color:orange;
    text-align:center;
}
span {
    color: red;
    font-family:"LiSu";
    font-size: xx-small;
}
div{
    background-image: url(https://media1.giphy.com/media/Vuw9m5wXviFIQ/200.webp?cid=ecf05e47e6zpj8g386n7bnyfkc3r5ybhjphmqckz8e2qjaq1&rid=200.webp&ct=g);
}
mask{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(247, 7, 7, 0.6);
    z-index:1008601;
    display:flex;
    align-items:center;
    justify-content:center
}