body {
    background-color:#f40707;
}
h1 {
    color:orange;
    text-align:center;
}
span {
    color: red;
    font-family:"LiSu";
    font-size: xx-small;
}
div{
    background-image:url(http://p1.music.126.net/w_UWOls2uCkFN_U62788Xg==/18806046882229308.jpg?param=180y180);
}
mask{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(149, 9, 9, 0.6);
    z-index:1008601;
    display:flex;
    align-items:center;
    justify-content:center
}
